* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: black;
    color: wheat; */
}

#div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

h1,
p {
    color: white;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#dOB {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: white;
    border: none;
    outline: none;
    background-color: #26a0da;
    border-radius: 10px;
    transition: 0.5s;
}

#dOB:hover {
    transform: scale(1.1);
}

#btn {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
}

#btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transform: scale(1.1);
}